<div class="welcome">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="mediaSection cell movies">
        <img src="images/movies.svg" alt="Movies" class="icon">
        <p>Have the theater be right from your home.</p>
        <a><h3>Movies</h3></a>
      </div>
      <div class="mediaSection cell television">
        <img src="images/television.svg" alt="Television" class="icon">
        <p>Watch your shows as if it were live.</p>
        <a><h3>TV Shows</h3></a>
      </div>
      <div class="mediaSection cell end music">
        <img src="images/music.svg" alt="Music" class="icon">
        <p>Be your personal DJ from your own home.</p>
        <a><h3>Music</h3></a>
      </div>
    </div>
  </div>
</div>
<div class="profiles grid-container">
  <div class="accounts grid-x grid-padding-x">
    <div class="parents small-4 small-offset-1 cell">
      <h3>PARENTS</h3>
      <a href="/parent" class="adult profile"><img src="images/User-Profile.png" alt="Parent Profile"></a>
      <a href="/parent" class="adult profile"><img src="images/User-Profile.png" alt="Parent Profile"></a>
      <a href="/parent" class="adult profile"><img src="images/User-Profile.png" alt="Parent Profile"></a>
    </div>
    <div class="kids small-4 small-offset-2 end cell">
      <h3>KIDS</h3>
      <a href="/kids" class="child profile" alt="Kid Profile"></a>
      <a href="/kids" class="child profile" alt="Kid Profile"></a>
      <a href="/kids" class="child profile" alt="Kid Profile"></a>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="services small-6 small-offset-3 cell">
      <h3>SERVICES</h3>
      <p>Choose your account and get the settings you desire.</p>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="era">
      <a><img src="images/50s.jpg" alt="50s" class="decade"></a>
      <a><img src="images/60s.jpg" alt="60s" class="decade"></a>
      <a><img src="images/70s.jpg" alt="70s" class="decade"></a>
      <a><img src="images/80s.jpg" alt="80s" class="decade"></a>
      <a><img src="images/90s.jpg" alt="90s" class="decade"></a>
    </div>
  </div>
</div>